<div *ngIf="isGroupsLoaded" xmlns="http://www.w3.org/1999/html" class="all-groups">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/add-group">Add Group</button>
  </div>

  <h2>{{groups.length}} groups</h2>


  <mat-card class="example-card" *ngFor="let group of groups; let i = index">
    <a routerLink="/groups/{{group.id}}">
      <mat-card-title-group>
        <mat-card-title>{{group.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-image class="group-img" [src]="formatImage(group.image)" alt="post image">
      </mat-card-title-group>
    </a>
    <mat-card-content>
      {{group.description.substr(0, 40) + '...'}}
    </mat-card-content>


    <mat-card-actions align="end">
      <button color="warn" mat-button (click)="removeGroup(group, i)">
        <mat-icon color="warn">delete</mat-icon>
        Remove Group
      </button>
    </mat-card-actions>

  </mat-card>


</div>
