.example-card {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: 1rem auto;
}

.group-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.all-groups{
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

