.index-page{
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-card{
  display: block;
  margin: 2rem auto;
  width: 75%;
}

.is-liked{
  color:darkred;
}

.not-liked{
  color: grey;
}
