
<div>
  <h2>Edit Group Profile</h2>
  <form [formGroup]="groupEditForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput
             formControlName="name">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput
             formControlName="description">
    </mat-form-field>

    <div class="row">
      <button (click)="closeDialog()" class="w-50"
              mat-button mat-dialog-close disableRipple>
        Cancel
      </button>
      <button color="primary" class="w-50" [disabled]="groupEditForm.invalid" (click)="submit()" mat-button disableRipple>
        Update
      </button>
    </div>
  </form>
</div>

