<div *ngIf="isGroupDataLoaded" class="user-profile">

  <h1>Group</h1>
  <div style="text-align: right">
    <div *ngIf="isAdmin">
      <button style="margin: 5px" mat-flat-button color="primary" (click)="openEditDialog()">Edit Info</button>
    </div>
    <div *ngIf="!isFollowed">
      <button style="margin: 5px" mat-flat-button color="primary" (click)="followGroup()">Follow</button>
    </div>
    <div *ngIf="isFollowed">
      <button style="margin: 5px" mat-flat-button color="primary" (click)="followGroup()">Unfollow</button>
    </div>
    <div>
      <button style="margin: 5px" mat-flat-button color="primary" routerLink="/groups/{{id}}/followers">Followers
      </button>
    </div>
  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col">
      <img class="profile-image"
           [src]="previewImageURL || formatImage(groupProfileImage) || 'https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51402215-stock-illustration-male-avatar-profile-picture-use.jpg'"
           alt="user image">

      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">

      <button mat-button (click)="fileInput.click()">Pick File</button>
      <button mat-button *ngIf="selectedFile" (click)="onUpload()">Upload</button>
    </div>
    <div class="col" style="text-align: left">

      <h2>{{group.name}}</h2>

      <h3 style="font-style: italic">{{group.description}}</h3>

    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <router-outlet></router-outlet>

  </div>

</div>
